<h1>Flashcards</h1>
<ul>
  <% @flashcards.each do |flashcard| %>
    <li>
      <%= link_to flashcard_path(flashcard) do %>
        <%= image_tag flashcard.image, class: 'flashcard-image' if flashcard.image.present? %>
        <%= flashcard.content %>
      <% end %>
    </li>
  <% end %>
</ul>
